<div class="header">
  <h1>Create a Pin</h1>
</div>

<hr/>
<%= form_for @pin do |f| %>
    <div class="show-pin">
		<form class="form-horizontal">
			<fieldset>
			
				<div class="form-group">
			      <label for="pin_title" class="col-lg-2 control-label">Title</label>
			      <div class="col-lg-10">
			        <%= f.text_field :title, class: 'form-control', :placeholder => "Title" %>
			      </div>
				</div>
			
			    <div class="form-group">
			      <label for="pin_category_id" class="col-lg-2 control-label">Category</label>
			      <div class="col-lg-10">
			        <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form-control" %>
			      </div>
			    </div>
			 
				<div class="form-group">
			      <label for="pin_url" class="col-lg-2 control-label">URL</label>
			      <div class="col-lg-10">
			        <%= f.text_field :url, class: 'form-control', :placeholder => "http://example.com" %>
			      </div>
			    </div>

			    <div class="form-group">
			      <label for="pin_slug" class="col-lg-2 control-label">nickname</label>
			      <div class="col-lg-10">
			        <%= f.text_field :slug, class: 'form-control', :placeholder => "my-pin" %>
			      </div>
			    </div>
			    
				<div class="form-group">
			      <label for="pin_text" class="col-lg-2 control-label">Description</label>
			      <div class="col-lg-10">
			        <%= f.text_area :text, class: 'form-control', :placeholder => "Pin description" %>
			      </div>
			    </div>
			
			 	<div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <%= f.submit class: "btn btn-default" %>
			      </div>
			    </div>
				
			</fieldset>
		</form>
		</div>
		<% if !@errors.nil? %>
			<div class="error">
				<label class="text-danger"><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</label>
				<ul>
					<% @errors.full_messages.each do |msg| %>
					<li class="text-danger"><%= "#{msg}" %></p></li>
					<% end %>
				</ul>
			</div>
		<% end %>
 
<% end %>
